@page
@model ML.Xncf.Docs.Areas.MyApp.Pages.Index
@addTagHelper *, MyArea
@{
  //UI框架参考：https://element.eleme.cn/#/zh-CN
  ViewData["Title"] = "目录";
  Layout = "_Layout_Vue";
}

@section breadcrumbs {
  <el-breadcrumb-item>开发者文档</el-breadcrumb-item>
  <el-breadcrumb-item>随机目录</el-breadcrumb-item>
}

@section HeaderContent{

}

@*<h1>装修升级中,敬请期待....</h1>*@

<el-row>
  <el-button type="primary">创建父级目录</el-button>
  <el-button type="success">演示文档</el-button>
  <el-button type="info">演示文档</el-button>
</el-row>

@section scripts{
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {

        }
      },
      methods: {
        handleEdit(index, row) {
          console.log(index, row);
        },
        handleDelete(index, row) {
          console.log(index, row);
        }
      }
    })
  </script>
}

@*<h4>@Model.XncfModuleDto.MenuName - @SystemTime.Now</h4>
  <h4>@Model.XncfModuleDto.Description</h4>

  <div style="margin:30px 0">
    <a href="@Url.PageLink(null,"CreateParentCatalog",new { uid = Model.XncfModuleDto.Uid })" title="创建父级目录" class="btn-lg btn btn-primary"><i class="fa fa-sun-o"></i> 创建父级目录</a>

    <a href="@Model.XncfRegister.GetAreaUrl("/Admin/Document/Preview")" target="_blank" class="btn-lg btn btn-primary"><i class="fa fa-bookmark-o"></i> 演示文档</a>
    <a href="@Model.XncfRegister.GetAreaUrl("/Admin/Document/PreviewContainer")" target="_blank" class="btn-lg btn btn-primary"><i class="fa fa-bookmark-o"></i> 演示文档Container</a>
  </div>*@


